<section class="flex flex-col-reverse lg:flex-row gap-x-8 justify-center items-start">
    <div class="[&>p]:mb-4 [&>p>strong]:text-violet-500 [&>p>strong]:font-semibold">
        <p>Greetings from Argentina! 🇦🇷</p>
        <p>
            My real name is <strong>Marianella Cabrera Ahumada</strong>, but my
            friends call me <strong><em class="italic">Mar</em></strong>. From my
            early days, I've been drawn to the universe of technology. At just
            <strong>twelve</strong>, I dove into the world of Android by flashing
            ROMs, rooting phones, and even configuring APNs in order to get free
            mobile data. I once intentionally "broke" my phone's software so my dad
            would have no excuse but to buy me a new one—<em class="italic"
                >it worked like a charm :)</em
            >
            <br /> Little did he know, that incident ignited my lifelong passion
            for software development.
        </p>
        <p>
            Over the years, my journey has evolved from those early experiments
            to becoming a <strong>seasoned Fullstack .NET Engineer with over 9 years of
            experience</strong>. Starting from frontend development, my skills
            expanded to encompass databases, backend solutions, and everything in
            between. I thrive on the dynamic nature of software development and the
            endless opportunities to learn.
        </p>
        <p>
            Throughout my career, I've been <strong>enriched by the work on a diverse
            array of projects</strong>, each presenting unique challenges and growth
            opportunities. From spearheading the development of an e-commerce
            platform for the sexual health industry to fine-tuning SEO strategies for
            prominent brands, I've honed my skills in different technologies.
        </p>
        <p>
            What truly drives me is not just the technical aspect of my work,
            but the <strong>tangible impact</strong> it has on users. Whether it's
            simplifying communication for a residential community management
            platform or empowering users to address health concerns, I'm fueled by
            the <strong>desire</strong> to create <strong>meaningful solutions that make a
            real difference</strong>.
        </p>
        <p>
            <em class="italic">I'm not just coding; I'm crafting solutions that empower users
            and drive business success.</em>
        </p>
    </div>
    <img src="/mxrphotolarge.jpg" class="rounded-full w-1/2 lg:w-auto lg:h-64 mb-4"/>
</section>
